* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  --bg-color: #ffffff;
  --title-color: #000000;
  --text-color: #000000;
  --text-darker-color: #adbac7;
  --main-color: #e84e31;
  --nav-color: #3c3c3c;
  --border-color: #d9d9d9;
  --code-bg-color: #eaeaea;
  --code-text-color: #444444;
  --hamburger-color: #000000;
  --form-background: #ffffff;
  --form-text-color: #000000;
  --form-disabled-background: #fafafa;
  --form-disabled-text-color: #6c6c6c;
}

body.dark-theme {
  --bg-color: #22272e;
  --title-color: #d2dae3;
  --text-color: #adbac7;
  --text-darker-color: #adbac7;
  --main-color: #ff7459;
  --nav-color: #8995a1;
  --border-color: #374453;
  --code-bg-color: #2f353d;
  --code-text-color: #d2dae3;
  --hamburger-color: #ffffff;
  --form-background: #2f353d;
  --form-text-color: #adbac7;
  --form-disabled-background: #2f353d;
  --form-disabled-text-color: #85919d;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
}

img {
  display: block;
  max-width: 100%;
}

label {
  display: block;
}

a {
  color: var(--main-color);
}

textarea { resize: vertical; min-width: 100%; display: block; }

.image {
  margin-bottom: 10px;
}

.image--margin {
  margin-bottom: 30px;
}

.image-caption {
  font-size: 14px;
  text-align: center;
  margin-bottom: 30px;
}

.image-caption:last-child {
  margin-bottom: 0;
}

.list {
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.list:last-child {
  margin-bottom: 0;
}

.list__item {
  line-height: 1.9;
}

.nested-list {
  padding-left: 30px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.header {
  padding: 50px 20px 50px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
}

.header__logo {
  width: 250px;
  padding-top: 5px;
  height: auto;
}

.header__text {
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 600px) {
  .header__right {
    gap: 10px;
  }
}

@media (max-width: 400px) {
  .header__right {
    gap: 3px;
  }
}

.github-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 30px;
  height: 40px;
  border-radius: 3px;
  background-color: #000000;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

.nav-toggle-button {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: 0;
  border: 0;
  fill: var(--hamburger-color);
}

.btn-toggle {
  height: 40px;
  width: 40px;
  border: 0;
  background: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--hamburger-color);
}

.btn-toggle:hover {
  cursor: pointer;
}

@media (min-width: 800px) {
  .nav-toggle-button {
    display: none;
  }
}

.nav-toggle-button:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .header {
    top: 0;
    position: sticky;
    padding: 20px;
    background: var(--bg-color);
    z-index: 1;
  }

  .header__logo {
    max-width: 180px;
  }

  .header__text {
    font-size: 14px;
  }

  .github-button {
    width: 40px;
    padding: 0;
  }

  .github-button span {
    display: none;
  }
}

@media (max-width: 400px) {
  .header__logo {
    max-width: 140px;
  }
}

.wrapper {
  width: 100%;
  position: relative;
  display: flex;
  gap: 50px;
  flex-direction: row-reverse;
}

.content {
  flex: 1;
  min-width: 0;
}

.nav {
  margin-top: 50px;
  position: sticky;
  border-left: 1px solid var(--border-color);
  padding-left: 50px;
  flex-shrink: 0;
  align-self: flex-start;
  top: 50px;
  max-width: 300px;
}

@media (max-width: 800px) {
  .nav {
    display: none;
  }
}

.nav__title {
  font-weight: 600;
  padding-bottom: 10px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 30px;
  overflow-y: auto;
  max-height: calc(100vh - 300px);
}

.nav-list::-webkit-scrollbar {
  width: 5px;
}

.nav-list::-webkit-scrollbar-track {
  background: 0;
}

.nav-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--border-color);
}

.nav-link {
  display: block;
  font-size: 14px;
  color: var(--nav-color);
  text-decoration: none;
}

.nav-link:hover, .nav-link:focus {
  color: var(--text-color);
  text-decoration: underline;
}

.nav-link--active {
  color: var(--main-color);
  text-decoration: underline;
}

.mobile-nav {
  position: fixed;
  height: 100vh;
  width: 250px;
  background: var(--bg-color);
  border-left: 1px solid var(--border-color);
  right: 0;
  z-index: 3;
  padding: 30px 0;
  padding-left: 30px;
  display: none;
}

.mobile-nav--active {
  display: block;
}

.mobile-nav__close {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: 0;
  border: 1px solid var(--border-color);
  margin-left: auto;
  margin-right: 30px;
  border-radius: 3px;
  margin-bottom: 30px;
  color: var(--hamburger-color);
}

.mobile-nav__close svg {
  width: 20px;
  height: 20px;
  fill: var(--hamburger-color);
}

.mobile-nav__close:hover {
  cursor: pointer;
}

.menu-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2; /* lower z-index than the mobile menu */
  display: none; /* hide the background by default */
  transition: all 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.menu-background--active {
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
}

.heading {
  line-height: 1;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--title-color);
}

.heading__link {
  color: var(--main-color);
}

.heading--h2 {
  font-size: 20px;
}

.group {
  padding: 50px 0;
  border-bottom: 1px solid var(--border-color);
}

.text {
  margin-bottom: 30px;
  line-height: 1.9;
}

.text--label {
  margin-bottom: 10px;
}

.text:last-child {
  margin-bottom: 0;
}

.group {
}

.group b {
  font-weight: 600;
}

.code {
  background: var(--code-bg-color);
  color: var(--code-text-color);
  padding: 4px 8px;
  border-radius: 3px;
  margin-bottom: 30px;
  font-family: 'Fira Code', monospace;
  font-size: 14px;
  font-weight: 400;
  word-break: break-word;
}

.form {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.form:last-child {
  margin-bottom: 0;
}

.form__label {
  margin-bottom: 5px;
  font-size: 14px;
}

.form__input {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: 14px;
  width: 100%;
  background: var(--form-background);
  color: var(--form-text-color);
}

.form__input[disabled] {
  background: var(--form-disabled-background);
  color: var(--form-disabled-text-color);
}

.footer {
  padding: 50px 0;
  text-align: center;
}

pre {
  margin-bottom: 30px;
}

pre:last-child {
  margin-bottom: 0;
}

.code-block {
  font-family: 'Fira Code', monospace;
  font-size: 14px;
  display: block;
  background: none;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-x: auto;
  max-width: 100%;
  min-width: 100px;
  padding: 20px!important;
  border-radius: 3px;
  background: var(--code-bg-color);
  color: var(--code-text-color);
  line-height: 1.7;
}

.language-plain {
  display: block;
}